span{
    font-size: 250%;
    background: darkgreen;
    height:50%;
    width:50%;
}
div{
    font-size: 250%;
    background:yellow;
    height:50%;
    width:50%;
}
p{
    font-size: 250%;
    background: darkred;
    height:50%;
    width:50%;
}